
body{
	background-color: #ecf0f1;
}

.log{
	width: 300px; height: 230px;
	background-color: white;
	padding: 20px 30px;
	border-radius: 5px;
	margin-top: 50px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #95a5a6;
}
.changeMail .log, .changePass .log{
	height: 265px;
}
.home{
	width: 800px;
	background-color: white;
	margin: auto;
	padding: 30px;
	box-shadow: 0px 0px 5px #bdc3c7;
	border-radius: 5px;
	text-align: center;
	margin-top: 50px;
}
table{
	background-color: white;
	margin: auto;
	box-shadow: 0px 0px 10px #bdc3c7;
}
.planning td{
	height: 100px;
	text-align: center;
}
.cours td{
	height: 30px;
	text-align: center;
}
.planning, .cours{
	width: 1200px;
	margin: auto;
	margin-top: 50px;
}
table div{
	width: 200px;
	text-align: center;
	box-sizing: border-box;
	margin: auto;
}
.planning td div{
	margin-top: 25px;
	color: white;
}
.cours td div{
	margin-top: 5px;
}
.btn-toolbar{
	margin: auto;
	margin-bottom: 20px;
}
.planningjs p{
	padding-top: 50px;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}
.changeMail, .changePass{
	//border: 1px solid red;
	margin: auto;
	position: absolute;
	left: 39%;
}

// Session ADMIN //
.center{
	text-align:center;
}
.btn2 {
  display: inline-block;
  *display: inline;
  text-align:center;	
  padding: 30px 100px;
  
}
.table_ajout{
	width: 13%;
}
.div_ajout{
	margin-left: 15px;
}
#matiere1, #classe1{
	display: none;
}
.table_ajout{
	width: 250px;
}
.div_ajout{
	height: 40px;
	display: block;
}
